@theme {
  --color-accent: oklch(52% 0.2169 156);

  --color-background-primary: oklch(99.95% 0 0);
  --color-background-subtle: oklch(98% 0 0);
  --color-background-muted: oklch(96% 0 0);
  --color-background-elevated: oklch(1 0 0);
  --color-subtle-hover: oklch(94% 0 0);

  --color-foreground-primary: oklch(32% 0 0);
  --color-foreground-secondary: oklch(51% 0 0);
  --color-foreground-tertiary: oklch(68% 0 0);
  --color-foreground-light: oklch(77% 0 0);
  --color-foreground-extra-light: oklch(85% 0 0);

  --color-border: oklch(0 0 0 / 0.25);
  --color-border-secondary: oklch(0 0 0 / 0.14);
  --color-border-tertiary: oklch(0 0 0 / 0.07);
  --color-input-focus: oklch(65% 0 0);
  --color-ring: oklch(25% 0 0);

  --color-brand: oklch(14% 0 0);
  --color-on-brand: oklch(1 0 0);

  --color-success: #22c55e;
  --color-success-foreground: #ffffff;

  --color-warning: #f59e0b;
  --color-warning-foreground: #ffffff;

  --color-error: oklch(0.5848 0.2078 25.33);
  --color-error-foreground: #ffffff;

  --color-info: #3b82f6;
  --color-info-foreground: #ffffff;
}
