<div
    x-data="{ isOpen: false }"
    @keydown.escape.window="isOpen = false"
    class="relative inline-block"
>
  {{ trigger_html }}
  <ul
    x-show="isOpen"
    @click.outside="isOpen = false"
    @keydown.down.prevent="$focus.wrap().next()"
    @keydown.up.prevent="$focus.wrap().previous()"
    class="absolute right-0 top-full z-50 mt-1 flex w-fit min-w-36 flex-col overflow-hidden rounded-xl p-1
    border border-border bg-background-primary shadow-lg dark:bg-background-primary"
  >
     {{ rendered_children|safe }}
  </ul>
</div>
