@utility btn {
  @apply font-medium inline-flex items-center justify-center
        rounded-lg bg-clip-padding
        disabled:opacity-50 disabled:pointer-events-none
        focus-visible:outline-none focus-visible:ring-[2px]
        focus-visible:ring-ring focus-visible:ring-offset-2 ring-offset-background-primary

        transition-all duration-150 ease-in-out

        whitespace-nowrap active:not-aria-[haspopup]:translate-y-px;
}

@utility breadcrumb {
    @apply flex gap-1.5 text-sm items-center text-foreground-secondary
}

@layer components {
    /* --- BUTTON SIZES -------------------------------------------------- */
    .btn-size-normal {
        @apply text-sm gap-1.5 h-9 px-4 has-[>svg]:px-3.5 has-[>svg]:pl-3
    }
    .btn-size-sm {
        @apply h-8 px-3 has-[>svg]:px-2.5 has-[>svg]:pl-2 gap-1 text-xs;
    }
    .btn-size-md {
        @apply h-10 px-5 has-[>svg]:px-4 has-[>svg]:pl-3.5;
    }
    .btn-size-lg {
        @apply h-12 px-6 text-base has-[>svg]:px-5 has-[>svg]:pl-4;
    }
    .btn-size-icon {
        @apply text-sm h-9 px-0 aspect-square;
    }
    .btn-size-icon-sm {
        @apply text-xs h-8 px-0 aspect-square;
    }
    .btn-size-icon-md {
        @apply text-sm h-10 px-0 aspect-square;
    }
    .btn-size-icon-lg {
        @apply text-base h-12 px-0 aspect-square;
    }
    /* --- BUTTON VARIANTS -------------------------------------------------- */
    .btn-solid {
        @apply bg-brand text-on-brand hover:bg-brand/80;
    }
    .btn-ghost {
        @apply bg-transparent text-foreground-primary hover:bg-neutral-500/15;
    }
    .btn-outline {
        @apply shadow-xs border border-border-secondary bg-background-primary hover:bg-background-muted;
    }
    .btn-danger {
        @apply bg-error text-error-foreground hover:bg-error/80;
    }
    .btn-ghost-danger {
        @apply text-error hover:bg-error/10;
    }

    /* --- DROPDOWN ITEM -------------------------------------------------- */
    .dropdown-item {
        @apply gap-3 flex w-full rounded-lg text-sm p-1.5 text-start
            disabled:opacity-50 disabled:pointer-events-none
            focus-visible:outline-none focus-visible:ring-[2px]
            focus-visible:ring-ring focus-visible:ring-offset-2 ring-offset-background-primary
            hover:bg-neutral-500/10;
    }

    /* --- BREADCRUMB ITEM -------------------------------------------------- */
    .breadcrumb-item {
        @apply breadcrumb cursor-pointer hover:text-foreground-primary
        disabled:opacity-50 disabled:pointer-events-none
        focus-visible:outline-none focus-visible:ring-[2px]
        focus-visible:ring-ring focus-visible:ring-offset-2 ring-offset-background-primary

        transition-all duration-150 ease-in-out

        whitespace-nowrap active:not-aria-[haspopup]:translate-y-px;
    }
    .breadcrumb.active {
        @apply text-foreground-primary!
    }

    /* --- SIDEBAR ITEM -------------------------------------------------- */
    .sidebar-item {
        @apply inline-flex items-center rounded-lg capitalize
            disabled:opacity-50 disabled:pointer-events-none text-sm
            gap-2 border border-transparent

            bg-transparent hover:bg-neutral-500/8 hover:text-foreground-primary
            text-foreground-secondary
            h-8 px-2 has-[>svg]:pl-1.5
    }
    .sidebar-item.active {
        @apply text-foreground-primary bg-neutral-500/10 border-border-secondary bg-clip-padding
        hover:bg-neutral-500/8;
    }

}
