@layer components {
  .form-input {
    @apply flex rounded-lg h-9 border border-border-secondary px-3 w-auto text-sm
          focus:ring-offset-background-primary placeholder:text-foreground-tertiary

          shadow-xs bg-background-primary

          file:border-0 file:bg-transparent file:text-sm file:font-medium

          focus-visible:outline-none focus-visible:border-border
          focus:ring-offset-2 focus-visible:ring-[2px]
          focus-visible:ring-ring
          disabled:cursor-not-allowed disabled:opacity-50

          transition duration-150 ease-in-out;
  }
  select.form-input option {
    @apply bg-background-primary;
  }

  /* Same as .form-input, but without h-<n> */
  .form-text-area {
    @apply flex rounded-lg border border-border-secondary px-3 py-1 w-auto
          text-sm focus:ring-offset-background-primary file:border-0 file:bg-transparent file:text-sm
          file:font-medium placeholder:text-foreground-tertiary
          shadow-xs bg-background-primary

          focus-visible:outline-none focus-visible:border-ring/50
          focus:ring-offset-2 focus-visible:ring-[2px]
          focus-visible:ring-ring

          disabled:cursor-not-allowed disabled:opacity-50;
  }
}
